// font
@font-face {
    font-family: "GenEi LateMin";
    src: url("/fonts/GenEiLateMin_min.woff2") format("woff2");
    font-display: swap;
}
$font-family: "GenEi LateMin";

// color
$background-color: #1a2940;
$font-color: #cecdcb;
$font-color-form: #420;
$font-color-link: #fff;
$danger-color: #a00;

// border
@mixin frame() {
    border-width: 5px;
    border-style: solid;
    border-image: url('/images/frame1.png') 25 stretch;
    border-image-width: 15px;
    padding: 5px 10px;
}

// media query
$breakpoints: (
    'large': 'screen and (min-width: 480px)', // 480px以上
) !default;

@mixin media($breakpoint: large) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}
