body, h1, h2, p, ul {
    margin: 0;
}
a {
    color: $font-color-link;
}
body {
    background-color: $background-color;
    color: $font-color;
    font-family: $font-family;
    line-height: 1.2;
}
header, main, footer {
    margin: 20px 0;
    padding: 0 10px;
}
header {
    margin: 0;
    background:
        linear-gradient(0deg, $background-color, transparent 10px),
        no-repeat center url(/images/bg.jpg);
    background-size: cover;
    @include media(large) {
        background:
            linear-gradient(0deg, $background-color, transparent 10px),
            no-repeat bottom center url(/images/bg_large.jpg);
        background-size: 100%;
    }
    position: relative;
}
h1 {
    color: #fff;
    padding: 20px 10px 25px;
    font-size: 1.5em;
    text-align: center;
    text-shadow:
        0 0 10px #0df,
        0 0 10px #0df,
        0 0 10px #fff,
        0 0 20px #099,
        0 0 30px #099,
        0 0 40px #099,
        0 0 50px #099,
        0 0 60px #099;
    &:before, &:after {
        content: '▲';
        font-size: medium;
        display: inline-block;
        text-align: right;
        width: 1em;
        height: 1em;
        text-shadow:
            0 0 10px #0df,
            0 0 10px #0df,
            0 0 10px #fff,
            0 0 10px #fff,
            0 0 10px #fff,
            0 0 20px #099,
            0 0 30px #099,
            0 0 30px #099;
    }
    &:before {
        margin-right: 10px;
        transform: rotate(-90deg) scale(0.5, 1) translate(0, 2px);
    }
    &:after {
        margin-left: 10px;
        transform: rotate(90deg) scale(0.5, 1) translate(0, 2px);
    }
}
.tip {
    @include frame();
    text-align: center;
    margin: 10px calc(50% - 10em) 20px;
    @media screen and (max-width: 20em) {
        // 画面幅が20文字より小さければ幅100%にする
        margin-left: 0;
        margin-right: 0;
    }
}
.form {
    color: $font-color-form;
    border-width: 25px;
    border-style: solid;
    border-image: url('/images/frame2.png') fill 25 round;
    margin: 20px 0;
    padding: 0;
}
.row {
    margin-bottom: 5px;
}
.form_title {
    font-size: small;
    .el-row {
        padding-left: 6px !important;
    }
}
.result {
    margin: 20px 0 5px;
    padding: 0;
    li {
        list-style: none;
        &:before {
            content: "†";
            display: inline-block;
            transform: rotate(-90deg);
            margin: 0 6px 0 5px;
        }
    }
}
.point {
    margin-left: 5px;
}
.el-select {
    width: 100%;
}
.first-effect {
    padding-left: 2.5px;
}
.el-collapse-item__header {
    padding: 5px 0;
}
.el-collapse-item {
    @include frame();
    margin-top: 10px;
}
.el-collapse-item__content {
    font-size: 0.9em !important;
    margin-top: 0.3em;
    ul {
        padding-left: 20px;
    }
    li {
        margin-bottom: 0.3em;
    }
}
.header-icon {
    margin-right: 5px;
}
.error {
    font-size: small;
    color: $danger-color;
}
.tweet:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    background: no-repeat center url("/images/angel_wing.png");
    background-size: cover;
    position: relative;
    top: -2px;
}
.license {
    font-size: small;
    text-align: right;
}



// Initialize Element UIStyles
.el-input__inner {
    font-family: $font-family;
}
.el-collapse {
    border: none !important;
}
.el-collapse-item__header,
.el-collapse-item__wrap,
.el-collapse-item__content {
    color: $font-color !important;
    background-color: transparent !important;
}
.el-collapse-item__header {
    font-size: medium !important;
    height: auto !important;
    line-height: 1 !important;
}
.el-collapse-item__header,
.el-collapse-item__wrap {
    border: none !important;
}
.el-collapse-item__content {
    padding-bottom: 0 !important;
    font-size: 0.9em !important;
}
